.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.in_out_buttons div{
    display: flex;
}
.pomodoro{
    font-weight: 600;
    color: var(--secondary-color-2);
    font-size: 23px;
    margin: 0 0 0 var(--min-space-1);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius:  0 20px 20px 0;
    padding: var(--space-1);
}
.header > .buttons_container{
    display: flex;
}
.header img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 0;
}
.gear_icon{
    color: white;
    font-size: 20px;
    transition: 1000ms;
}
.gear_icon:hover{
    cursor: pointer;
    color: var(--secondary-color-2);
    transform: rotate(92deg);
    transition: 500ms ease-out;
}