.header{
    display: flex;
    justify-content: center;
}
.header button{
    border: none;
    margin: var(--space-1);
    padding: var(--space-1);
    border-radius: 20px;
    background-color: var(--secondary-color-1);
    color: var(--font-color-1);
    font-size: 16px;
}
.header button:hover{
    cursor: pointer;
}