.pomodoro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 var(--space-2);
}

.main_part{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vw;
    max-height: 350px;
    max-width: 350px;
    border-radius: 50%;
    background-color: var(--secondary-color-2);
    border: none;
    margin: var(--space-1);
}
/* Home */
.start_button{
    box-shadow: 4px 4px 0 2px #C08F00, 0px 4px 4px #00000014;
}
.start_button > img{
    width: 30%;
    height: 30%;
}
.start_button:hover{
    cursor: pointer;
}
.start_button:active{
    box-shadow: 2px 2px 0 2px #C08F00, -3px 0px 5px 1px #00000024;
     top: 2px;
     left: 2px;
}
.config_icon{
    color: var(--secondary-color-2);
    font-size: 22px;
    margin: var(--space-2);
}
.config_icon:hover{
    cursor: pointer;
}
/* Clock */
.stages{
    display: flex;
}
.stages div {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-1);
    border-radius: 50%;
    margin: var(--min-space-1);
}
.stages > .active_stage{
    background-color: var(--secondary-color-2);
} 